<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../public/css/main.css">
</head>
<body>
    <details class="navbar__session">
                <summary class="navbar__session-trigger">
                    <span class="navbar__text">
                        <i class="bi bi-person"></i>
                        Mi cuenta
                    </span>
                </summary>
                <div class="navbar__session-dropdown">
                    <a href="" class="navbar__session-link navbar__session-link--login">Iniciar Sesión</a>
                    <a href="" class="navbar__session-link navbar__session-register">Registrarse</a>
                </div>
         </details>
    
</body>
</html>