.btn-submit {
    background-color: var(--color-primario);
    padding: 20px;
    border-radius: 10px;
    border: none;
    color: var(--color-secundario);
    font-family: var(--fuente-titulos-botones);
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    width: auto;
}
.btn-submit:hover {
    background-color: rgb(var(--color-primario-puro), 0.80);
}

.btn-submit--admin-add {
    width: auto; 
    padding: 14px 20px; 
    font-size: 16px;  
    white-space: nowrap;
    background-color: var(--color-primario);
}