.header {
    background-color:var(--color-secundario);
    max-width: 1440px;
    
}

.header--vertical { 
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 40px var(--padding-laterales) ;
    width: 15%;
    border-right: 2px solid rgb(var(--color-terciario-puro),0.1);
}

.header--vertical i {
    font-size: 16px;
}

.header__title {
    color:var(--color-primario);
    font-family: var(--fuente-titulos-botones);
    font-weight: 900;
}

.header--horizontal {
    display: flex;
    width: 100% ;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    gap: 60px;  
}

.header__title {
    margin: 0;
    color: var(--color-primario);
    font-size: 28px;
    font-weight: 700;
    font-family: var(--fuente-titulos-botones);
    white-space: nowrap; 
}

.header__buscador {
    display: flex;
    align-items: center;
    gap: 30px; 
    flex: 2;  
    justify-content: flex-end;  
}

#input-buscar {
    padding: 10px 18px;
    border-radius: 20px;
    border: 1px solid var(--textos-secundarios);
    width: 280px;
    font-family: var(--fuente-textos);
}

.header__opciones {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__opcion {
    text-decoration: none;
    color: var(--color-terceario);
    font-family: var(--fuente-textos);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.header__opcion:hover {
    color: var(--color-primario);
}

.header__opcion-separador {
    color: var(--textos-secundarios);
    font-size: 14px;
}

.header i {
    font-size: 15px;
}

.user-bar {
    background-color: var(--color-primario);
    padding: 15px 40px;
}

.user-bar__contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.user-bar__categorias {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

.user-bar__categoria-link {
    text-decoration: none;
    color: var(--color-secundario);
    font-family: var(--fuente-titulos);
    font-size: 16px;
    font-weight: 600;
}

.user-bar__categoria-link:hover {
    text-decoration: underline;
}

.user-bar__categoria-separador {
    color: rgb(var(--color-secundario-puro),0.15);
    font-size: 16px;
}