
    .navbar__items {
        display: flex;
        flex-direction: column;
        justify-content: start;
        color:var(--color-textos-secundarios);
    }

    .navbar__item {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .navbar__item:hover {
        border: 2px solid var(--color-primario);
        border-radius: 10px;
    }

.navbar__item--active {
    background-color: var(--color-primario);
    color:var(--color-secundario);
    border-radius: 10px;
}


.navbar__link {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: var(--fuente-textos);
    font-weight: 600;
    font-size: 14px;
}

.navbar__icon {
    font-size: 30px;
}
/*Parte leicel*/

.navbar {
    padding: 15px 40px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #eee;
}

.navbar__lista {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar__link {
    text-decoration: none;
    color: var(--negro);
    font-weight: 600;
    font-family: var(--titulos);
    font-size: 16px;
}

.navbar__link:hover {
    color: var(--rojo);
}

.navbar__separador {
    color: #ccc;
    font-weight: 300;
}