
    .navbar__items {
        display: flex;
        flex-direction: column;
        justify-content: start;
        color:var(--color-textos-secundarios);
    }

    .navbar__item {
        display: flex;
        align-items: center;
        padding: 10px;
    }
    
.navbar__item--active {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    border-radius: 10px;
}


.navbar__link {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: var(--fuente-textos);
    font-weight: 600;
    font-size: 14px;
}

.navbar__icon {
    font-size: 30px;
}